

.zpony_city{
    width: 100%;
    // background: #9dd6ff;
    min-height: 100%;
    .zpony_nav{
        height: 80px;
        background: #e09bc9;
        .zpony_nav_wrap{
            width: 1200px;
            margin: 0 auto;
        }
    }
    .zpony-wrap{
        width: 1200px;
        margin: 0 auto;
    }
}
.zpony_nav_list{

}
.zpony_nav-item a{
    display: block;
    height: 80px;
    padding: 0 25px;
    color: #fff;
    box-sizing: border-box;
    line-height: 80px;
    font-size: 20px;
    // border-bottom: 5px solid  #e09bc9;
    &:hover, &.active{
        background: #fff;
        color: #e09bc9;
        border-bottom: 3px solid  #7c8cc2;
    }
}